html,body{width:100%;height:100%;scroll:none}
body{
  overflow:hidden;position:fixed;
  margin:0;
  background-color:black
  /*background-image:var(--tex-sky0)*/}

#view{
  position:fixed;top:0;left:0;
  width:100%;height:calc(100% - 160px)}

#view canvas{
  width:100%;height:100%}

#panel{
  position:fixed;left:0;bottom:0;
  width:calc(100% - 32px);height:128px;
  padding:16px;
  border-image:var(--tex-border) 8 / 8px / 0 repeat;
  background-image:var(--tex-wood0);
  box-shadow:0 2px 4px rgba(0,0,0,0.7);
  transition:bottom 0.2s}

#minimap{
  box-shadow:0 2px 4px rgba(0,0,0,0.5)}

@media(min-width:544px){
  body{display:block}
  #view{
    height:100%}
  #panel{
    left:calc(50% - 272px);bottom:8px;
    width:512px}
}
