@font-face{font-family:spec;  src:url("/font/s.ttf")}
@font-face{font-family:spec-b;src:url("/font/sb.ttf")}
*{font-family:spec}

body{font-size:11pt;user-select:none;background-color:#506c50}

.title{
  font-size:48px;font-family:spec-b;
  background: linear-gradient(#f3e2c7 0%,#c19e67 50%,#b68d4c 51%, #e9d4b3 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  /* -webkit-text-stroke: 2px #381818; */
  filter:drop-shadow(0 2px 4px black)}

.menu>a{color:#d8d0b0;text-shadow:0 2px 4px black;text-decoration:none;cursor:pointer}
.menu>a:hover{text-decoration:underline}

.menu{
  padding:16px;max-width:256px;
  border-image:var(--tex-border) 8 / 8px / 0 repeat;
  border-width:8px;
  background-image:var(--tex-wood0);
  box-shadow:0 2px 4px rgba(0,0,0,0.5)}
.menu>*:not(input){display:block;text-align:center}
.menu>*:not(:first-child){margin-top:16px}

input,button{
  appearance:none;--webkit-appearance:none;
  padding:2px 4px;width:calc(100% - 24px);
  
  border-image:var(--tex-border) 8 / 8px / 0 repeat;
  border-width:8px;
  background-color:black;color:white;
  box-shadow:0 2px 4px rgba(0,0,0,0.7);
  
  font-size:11pt}
input:focus{outline:1px solid white}

input[type="submit"],button{
  width:100%;  
  background-image:var(--tex-wood1);color:black;
  font-family:spec-b;transition:0.2s box-shadow;
  border-image-source:var(--tex-wood1-border)}
input[type="submit"]:hover,button:hover{box-shadow:0 2px 8px rgba(0,0,0,0.8)}
input[type="submit"]:active,button:active{
  box-shadow:0 1px 2px rgba(0,0,0,0.5)}
input[type="submit"]:focus,button:focus{outline:none}

input[type="submit"]:focus::before,
button:not(.pause):focus::before {content:"[ "}
input[type="submit"]:focus::after,
button:not(.pause):focus::after  {content:" ]"}

button.pause{
  position:fixed;top:8px;left:calc(50% - 24px);
  padding:0;margin:0;width:48px;height:48px;
  border-image:none;border:none;
  background-color:transparent;background-image:var(--tex-pause)}
