@font-face{font-family:spec;  src:url("font/s.ttf")}
@font-face{font-family:spec-b;src:url("font/sb.ttf")}
*{image-rendering:crisp-edges;touch-action:manipulation}
*:not(pre){font-family:spec}

body{
  font-size:11pt;background-color:#506c50;
  user-select:none !important;
  -webkit-touch-callout:none !important;-webkit-user-select:none !important}

.title{
  width:256px;height:64px;
  color:transparent;background-image:var(--tex-title);
  filter:drop-shadow(0 2px 4px rgba(0,0,0,0.5))}

.menu>a{color:#d8d0b0;text-shadow:0 2px 4px black;text-decoration:none;cursor:pointer}
.menu>a:hover{text-decoration:underline}

.menu,.scroll{
  padding:16px;max-width:256px;
  border-image:var(--tex-border) 8 / 8px / 0 repeat;border-width:8px;
  background-image:var(--tex-wood0);box-shadow:0 2px 4px rgba(0,0,0,0.5)}
.menu>*:not(input){display:block;text-align:center}
.menu>*{margin-top:0}
.menu>*:not(:first-child){margin-top:16px}

.scroll{background-image:var(--tex-paper0)}
.scroll>*{margin:0}
.scroll>*:not(:first-child){margin-top:16px}

pre.license{max-height:512px;overflow:auto;font-size:9pt}

input,button{
  appearance:none;--webkit-appearance:none;
  padding:2px 4px;width:calc(100% - 24px);
  
  border-image:var(--tex-border) 8 / 8px / 0 repeat;
  border-width:8px;
  background-color:black;color:white;
  box-shadow:0 2px 4px rgba(0,0,0,0.7);
  
  font-size:11pt}
input:focus{outline:1px solid white}

input[type="submit"],button{
  width:100%;  
  background-image:var(--tex-wood1);color:black;
  font-family:spec-b;transition:0.2s box-shadow;
  border-image-source:var(--tex-wood1-border)}
input[type="submit"]:hover,button:hover{box-shadow:0 2px 8px rgba(0,0,0,0.8)}
input[type="submit"]:active,button:active{
  box-shadow:0 1px 2px rgba(0,0,0,0.5)}
input[type="submit"]:focus,button:focus{outline:none}

input[type="submit"]:focus::before,
button:not(.pause):focus::before {content:"[ "}
input[type="submit"]:focus::after,
button:not(.pause):focus::after  {content:" ]"}

button.pause{
  position:fixed;top:8px;left:calc(50% - 24px);
  padding:0;margin:0;width:48px;height:48px;
  border-image:none;border:none;
  background-color:transparent;background-image:var(--tex-pause);
  box-shadow:none;filter:drop-shadow(0 2px 4px rgba(0,0,0,0.7));
  transition:filter 0.2s}

button.pause:hover{filter:drop-shadow(0 2px 8px rgba(0,0,0,0.8))}
button.pause:active{filter:drop-shadow(0 1px 2px rgba(0,0,0,0.5))}

progress{
  -webkit-appearance:none;appearance:none;
  width:calc(100% - 2px);height:8px;
  background-color:#98484c;border:1px solid #ccac78;border-radius:2px;
  box-shadow:0 2px 4px rgba(0,0,0,0.7),0 2px 5px rgba(0,0,0,0.5) inset}
progress::-webkit-progress-bar{
  background-color:#98484c;box-shadow:0 2px 5px rgba(0,0,0,0.5) inset}
progress::-moz-progress-bar{
  background-image:linear-gradient(to bottom,#bcb4a0 0%,#70644c 100%)}
progress::-webkit-progress-value{
  background-image:linear-gradient(to bottom,#bcb4a0 0%,#70644c 100%)}
